* {
    margin: 0;
    padding: 0;
    }
    
    /* Dev */
    header,
    header * {
    outline: 1px dashed blue;
    }
    
    section.hero,
    section.hero * {
    outline: 1px dashed red;
    }
    
    /* Dep */
    header {
    width: 100vh;
    position: fixed;
    background-color: white;
    z-index: 20%;
    
    }
    
    header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    }
    
    header h1 {
    font-size: xx-large;
    }
    
    header button {
    border: none;
    background: none;
    font-size: medium;
    font-weight: 600;
    color: rgb(82, 82, 82);
    transition: .3s ease-in-out;
    }
    
    header button:hover {
    color: bisque;
    }
    
    section.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    justify-content: center;
    }
    
    section.hero img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 100vh;
    opacity: 0.9;
    }
    
    section.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
    padding: 1.5rem;
    margin: 1rem;
    gap: 14px;
    }
    
    section.hero h3 {
    font-size: 1.5rem;
    }
    
    section.hero h2 {
    font-size: 3rem;
    }
    
    section.hero p {
    font-size: 1.2rem;
    text-align: center;
    }
    
    section.hero button {
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .3s ease-out;
    }
    
    section.hero button:hover {
    transform: scale(110%) translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 10px -7px;
    }